@model PostsViewModel

@{
    ViewData["Title"] = "Simple Net Blog";
}


<br>

<div class="container m-auto">
    
    @foreach (var post in @Model.Posts)
    {
        <partial name="_Post" model="post"></partial>
    }

    
</div>

