@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model PostsViewModel

@{
    ViewData["Title"] = "Home";
}

<br>

<div class="container mx-5">
    
    @foreach (var post in @Model.Posts)
    {
        <partial name="_Post" model="post"></partial>
    }

    
</div>

