@model PostsViewModel

@{
    ViewData["Title"] = "Simple Net Blog - Admin Panel";
}

<div>
    <button class="btn btn-primary" asp-controller="Panel" asp-action="EditPost">Create New Post</button>
</div>
<br>

@foreach (var post in @Model.Posts)
{
    <partial name="_Post" model="post"></partial>
}