@model Post

@section PageCss
{
    <link rel="stylesheet" href="~/lib/Trumbowyg-master/ui/sass/trumbowyg.css">
}


<form asp-controller="Post" asp-action="EditPost" method="post" enctype="multipart/form-data">

    <input asp-for="PostId" value="@Model.PostId" type="hidden">
    <div class="form-group">
        <label class="mb-0" asp-for="Title">Post title</label><br>
        <input type="text" placeholder="Enter a title" asp-for="Title" class="fom-control">
    </div>

    <div>
        <textarea asp-for="Content" id="editor"></textarea>
    </div>

    <div class="btn-group">
        <button class="btn btn-secondary mr-1" asp-controller="Home" asp-action="Index">Cancel</button>
        <input type="submit" class="btn btn-danger" value="Save Changes"/>
    </div>
</form>


@section Scripts
{
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
           $('#editor').trumbowyg();
        </script>
}