@model Post

@section PageCss
{
    <link rel="stylesheet" href="~/lib/Trumbowyg-master/ui/sass/trumbowyg.css">
}


<form class="edit-post-container px-5 py-5 bg-white" asp-controller="Post" asp-action="EditPost" method="post" enctype="multipart/form-data">

    <input asp-for="PostId" value="@Model.PostId" type="hidden">
    <div class="form-group">
        <label class="mb-0 text-dark text-lg-left" asp-for="Title">Post title</label><br>
        <input type="text" placeholder="Enter a title" asp-for="Title" class="fom-control col-sm-8">
    </div>

    <div>
        <textarea asp-for="Content" id="editor"></textarea>
    </div>

    <div class="btn-group">
        <button class="btn btn-danger mr-1" asp-controller="Home" asp-action="Index">Cancel</button>
        <input type="submit" class="btn btn-success" value="Save Changes"/>
    </div>
</form>


@section Scripts
{
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
           $('#editor').trumbowyg();
        </script>
}